{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "LINEAR_WEBHOOK_SECRET": "",
    "SERVICE_BUS_CONNECTION_STRING": ""
  }
}
